name: CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Prerequisites
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake libssl-dev valgrind git
          git clone https://git.cryptomilk.org/projects/cmocka.git
          cd cmocka
          mkdir build
          cd build
          cmake .. -DCMAKE_INSTALL_PREFIX=/usr/local
          make
          ctest
          sudo make install

        shell: bash

      - name: Build and run project
        run: |
          export LD_LIBRARY_PATH=/usr/local/lib/
          make
        working-directory: ${{github.workspace}}
